.cardLogo {
  height: 5vh;
  margin: 2vh 1vw;
  width: 4vw;
}

.app.cardList.card {
  background-color: #fff;
  display: flex;
  font-size: 0.7em;
  padding: 2em;
  box-sizing: border-box;
  color: #000;
}

.app.dark.cardList.card {
  background-color: #000;
  color: #fff;
}

.textContent {
  margin: 0 1vw;
}

@media screen and (max-width:768px) {
  .app.cardList.card {
    height: 22vh;
    align-items: center;
    justify-content: space-evenly;
  }
  .cardLogo {
    width: 7vw;
  }
  .textContent {
    width: 80%;
  }
}

@media screen and (max-width:377px) {
  .app.cardList.card {
    height: 22vh;
    align-items: center;
  }
  .cardLogo {
    width: 14vw;
  }
  .textContent {
    font-size: 0.8em;
  }
}