.description {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 1.5em;
  margin: 1em 0;
}

.context {
  width: 90%;
  font-size: 1em;
  margin-bottom: 2em;
}

@media screen and (max-width:768px) {
  .title {
    margin: 0.7em 0;
    font-size: 1.5em;
  }
  .context {
    font-size: 0.7em;
  }
}

@media screen and (max-width:544px) {
   .context {
     font-size: 0.5em;
   }
}