.navbar {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

@media screen and (max-width:980px) {
  .navbar {
    width: 90%;
  }
}

@media screen and (max-width:768px) {
  .navbar {
    display: none;
  }
}